In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_countries.csv")
df = df.drop(columns=["Unnamed: 0"])
df

,Affiliation Country,Application Country,aff app count,Affiliation count,Application count
0,Australia,Australia,2,7,31
1,Australia,Austria,1,7,9
2,Australia,Botswana,1,7,28
3,Australia,Brasil,1,7,31
4,Australia,Canada,1,7,33
...,...,...,...,...,...
514,USA,Sweden,5,52,29
515,USA,Thailand,4,52,28
516,USA,UK,10,52,48
517,USA,USA,26,52,66
518,USA,Ukraine,4,52,28

In [3]:
affc = df['Affiliation Country'].unique()
appc = df['Application Country'].unique()

print(f"Affiliation Countries: {len(affc)}")
print(f"Application Countries: {len(appc)}")

arr = affc.tolist() + appc.tolist()
arr = list(set(arr)) 
len(arr)

Affiliation Countries: 29
Application Countries: 42

44

In [4]:
df_china = df[df['Affiliation Country'] == 'China']
df_china_count = df_china['aff app count'].sum()
df_china_count

np.int64(552)

In [5]:
height_node_affiliation = df['Affiliation Country'].unique()
height_node_affiliation = df['Affiliation Country'].unique()

for i in height_node_affiliation:
    df_temp = df[df['Affiliation Country'] == i]
    value_affc = df_temp['Affiliation count'].unique()
    #print(i, value_affc)

len(height_node_affiliation)

height_node_application = df['Application Country'].unique()
height_node_application = df['Application Country'].unique()
for i in height_node_application:
    df_temp = df[df['Application Country'] == i]
    value_appc= df_temp['Application count'].unique()
    #print(i, value_appc)
    
len(height_node_application)

42

In [6]:
import json

df['Affiliation Country'] = df['Affiliation Country'].str.strip()
df['Application Country'] = df['Application Country'].str.strip()

affiliation_countries = df['Affiliation Country'].unique()
application_countries = df['Application Country'].unique()

all_countries = sorted(set(affiliation_countries) | set(application_countries))
country_to_index = {country: i for i, country in enumerate(all_countries)}

nodes = []
for country in all_countries:
    df_aff = df[df['Affiliation Country'] == country]
    value_affc = df_aff['Affiliation count'].unique()[0] if not df_aff.empty else 0

    df_app = df[df['Application Country'] == country]
    value_appc = df_app['Application count'].unique()[0] if not df_app.empty else 0

    nodes.append({
        "id": int(country_to_index[country]), 
        "name": str(country),
        "height_source": int(value_affc),
        "height_target": int(value_appc),
    })

links = []
for _, row in df.iterrows():
    source = country_to_index[row['Affiliation Country']]
    target = country_to_index[row['Application Country']]
    value = row['aff app count']
    
    # Obtener los valores de altura desde nodes
    source_node = nodes[source]
    target_node = nodes[target]
    
    links.append({
        "source": source,
        "target": target,
        "value": value
        #"height_source": source_node["height_affiliation"],
        #"height_target": target_node["height_application"]
    })

sankey_data = {
    "nodes": nodes,
    "links": links
}

with open('sankey_data.json', 'w', encoding='utf-8') as f:
    json.dump(sankey_data, f, indent=2, ensure_ascii=False)